########################################
# SearXNG
########################################

SEARXNG_PORT=8080
SEARXNG_DOMAIN=searxng.example.local
SEARXNG_BASE_URL=http://searxng:8080

# Performance tuning
SEARXNG_UWSGI_WORKERS=4
SEARXNG_UWSGI_THREADS=4