MONGOEXPRESS_DOMAIN=mongo-express.local.example.com
ME_MONGODB_SERVER=mongodb
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=change-me
MONGOEXPRESS_USER=admin
MONGOEXPRESS_PASSWORD=change-me
MONGOEXPRESS_PORT=8081
TRAEFIK_CERTRESOLVER=letsencrypt
